<!DOCTYPE html>
<html class="{{ theme }}" lang="es">
<head>
    <title>{{{ documentTitle }}}</title>

    {{{ rendererJS }}}
    {{{ formsHandlerJS }}}
    {{{ configJS }}}
    <meta charset="UTF-8">
	<meta name="description" content="Sistema de exámenes recuperativos para la UNERG" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<link rel="icon" type="image/svg+xml" href="../../public/assets/favicon.svg" />
	<link rel="canonical" href="https://recuengine.vercel.app" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="keywords" content="unerg, university, recuengine, qualification, handlebarsjs" />

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="RecuEngine" />
	<meta name="twitter:description" content="Sistema de exámenes recuperativos para la UNERG" />
	<meta name="twitter:image" content="../../public/assets/og.jpg" />
	
	<meta name="og:image" content="../../public/assets/og.jpg" />
	<meta name="og:title" content="RecuEngine" />
	<meta name="og:description" content="Sistema de exámenes recuperativos para la UNERG" />
	<meta name="og:url" content="https://recuengine.vercel.app/" />
	<meta name="og:site_name" content="RecuEngine" />
	<meta name="og:type" content="website" />
	<meta name="og:locale" content="es_MX" />
	
	<link rel="stylesheet" href="/styles/{{{ styles }}}.css">

	<meta name="robots" content="index, follow" />
	<meta name="googlebot" content="index, follow" />
</head>
<body>
    
    {{> messages }}

    {{{ body }}}

</body>
</html>